@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500;900&display=swap');

@import "./vars";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

input{
    margin-top: 5%;
}



.welcome__container{
    @include quickMargin(70%);
    .hero__container{
        
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero__heading {
            text-align: center;
            @include headerComponent($normalTextColor, $desktop_header_fontSize);
            font-weight: 500;
        }
        .hero__divider {
            background-color: $normalTextColor;
            height: 0.5vh;
            width: 0.1%;
            border-radius: 20px;
            margin: 2%;
        }
    }
}

.content__container{
    @include quickMargin(70%);
    #top {
        margin-top: 0%;
    }
    #bottom {
        margin-bottom: 10%;
    }
    .bottomDescript{
        margin-right: 5%;
    }
    .scalable__container{
        text-align: left;
        margin-top: 3%;
        .scalable__header {
            @include headerComponent($normalTextColor, $desktop_section_header_fontSize);
            font-weight: 500;
        }
        .scalable__descriptor {
            @include descriptorComponent($normalTextColor, $desktop_descriptor_fontSize);
            font-weight: normal;
            margin-top: 3%;
        }
        .scalable__link a{
            color: $normalTextColor;
            border-bottom: 1px solid $normalTextColor;
            &:hover {
                cursor: pointer;
            }
        }
        .highlighted__text {
            font-weight: 500;
        }
        .social__link {
            color: $normalTextColor;
            font-size: 40px;
            margin-right: 5%;
            &:hover{
                cursor: pointer;
                color: rgba(58, 58, 58, 0.9);
            }
        }
        .email__copy{
            @include descriptorComponent($normalTextColor, $desktop_descriptor_fontSize);
            font-weight: normal;
            padding: 1%;
            background: transparent;
            border: none;
            border-bottom: 1px solid $normalTextColor;
            transition: all 0.2s ease-in-out;
            &:hover{
                cursor: pointer;
                color: rgba(58, 58, 58, 0.9);
            }
        }
        #emailData{
            @include descriptorComponent($normalTextColor, $desktop_descriptor_fontSize);
            border: none;
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 1000px)  {
    
    .welcome__container{
        @include quickMargin(90%);
        .hero__container{
            
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero__heading {
                text-align: center;
                @include headerComponent($normalTextColor, 12vw);
                font-weight: 500;
            }
            .hero__divider {
                background-color: $normalTextColor;
                height: 0.5vh;
                width: 0.1%;
                border-radius: 20px;
                margin: 2%;
            }
        }
    }
    
    .content__container{
        @include quickMargin(90%);
        #top {
            margin-top: 0%;
        }
        #bottom {
            margin-bottom: 30%;
        }
        .scalable__container{
            text-align: left;
            margin-top: 10%;
            // height: 100vh;
            // scroll-snap-type: start;
            .scalable__header {
                @include headerComponent($normalTextColor, 10vw);
                font-weight: 500;
            }
            .scalable__descriptor {
                @include descriptorComponent($normalTextColor, 5vw);
                font-weight: normal;
                margin-top: 5%;
            }
            .scalable__link a{
                color: $normalTextColor;
                border-bottom: 1px solid $normalTextColor;
                &:hover {
                    cursor: pointer;
                }
            }
            .scalable__small_text {
                @include descriptorComponent($normalTextColor, 4vw);
                font-weight: 200;
            }
            .highlighted__text {
                font-weight: 500;
            }
            // #effectCanvas {
            // background-color: white;
            // position: absolute;
            // width: 100%;
            // height: 50vh;
            // } 
            .social__link {
            text-align: left;
                color: $normalTextColor;
                font-size: 8vw;
                margin-right: 5%;
                &:hover{
                    cursor: pointer;
                    color: rgba(58, 58, 58, 0.9);
                }
            }
            .email__copy{
            text-align: left;
                @include descriptorComponent($normalTextColor, 5vw);
                padding: 1%;
                background: transparent;
                border: none;
                border-bottom: 1px solid $normalTextColor;
                transition: all 0.2s ease-in-out;
                &:hover{
                    cursor: pointer;
                    color: rgba(58, 58, 58, 0.9);
                }
            }
            #emailData{
            text-align: left;
                @include descriptorComponent($normalTextColor, 5vw);
                border: none;
                background-color: transparent;
                
            }
        }  
    }
}